@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Outfit", Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: black;
  padding: 0;
}
